# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
apps/_notes/dwsync.xml
apps/application/.htaccess
apps/application/_notes/dwsync.xml
apps/application/cache/.htaccess
apps/application/cache/_notes/dwsync.xml
apps/application/cache/index.html
apps/application/config/_notes/dwsync.xml
apps/application/config/autoload.php
apps/application/config/config.php
apps/application/config/constants.php
apps/application/config/database.php
apps/application/config/doctypes.php
apps/application/config/foreign_chars.php
apps/application/config/hooks.php
apps/application/config/index.html
apps/application/config/mimes.php
apps/application/config/profiler.php
apps/application/config/routes.php
apps/application/config/smileys.php
apps/application/config/user_agents.php
apps/application/controllers/_notes/dwsync.xml
apps/application/controllers/index.html
apps/application/controllers/welcome.php
apps/application/core/_notes/dwsync.xml
apps/application/core/index.html
apps/application/errors/_notes/dwsync.xml
apps/application/errors/error_404.php
apps/application/errors/error_db.php
apps/application/errors/error_general.php
apps/application/errors/error_php.php
apps/application/errors/index.html
apps/application/helpers/_notes/dwsync.xml
apps/application/helpers/index.html
apps/application/hooks/_notes/dwsync.xml
apps/application/hooks/index.html
apps/application/index.html
apps/application/language/english/_notes/dwsync.xml
apps/application/language/english/index.html
apps/application/libraries/_notes/dwsync.xml
apps/application/libraries/index.html
apps/application/logs/_notes/dwsync.xml
apps/application/logs/index.html
apps/application/models/_notes/dwsync.xml
apps/application/models/index.html
apps/application/third_party/_notes/dwsync.xml
apps/application/third_party/index.html
apps/application/views/_notes/dwsync.xml
apps/application/views/index.html
apps/application/views/welcome_message.php
apps/index.php
apps/system/.htaccess
apps/system/_notes/dwsync.xml
apps/system/core/Benchmark.php
apps/system/core/CodeIgniter.php
apps/system/core/Common.php
apps/system/core/Config.php
apps/system/core/Controller.php
apps/system/core/Exceptions.php
apps/system/core/Hooks.php
apps/system/core/Input.php
apps/system/core/Lang.php
apps/system/core/Loader.php
apps/system/core/Model.php
apps/system/core/Output.php
apps/system/core/Router.php
apps/system/core/Security.php
apps/system/core/URI.php
apps/system/core/Utf8.php
apps/system/core/_notes/dwsync.xml
apps/system/core/index.html
apps/system/database/DB.php
apps/system/database/DB_active_rec.php
apps/system/database/DB_cache.php
apps/system/database/DB_driver.php
apps/system/database/DB_forge.php
apps/system/database/DB_result.php
apps/system/database/DB_utility.php
apps/system/database/_notes/dwsync.xml
apps/system/database/drivers/_notes/dwsync.xml
apps/system/database/drivers/index.html
apps/system/database/drivers/mssql/_notes/dwsync.xml
apps/system/database/drivers/mssql/index.html
apps/system/database/drivers/mssql/mssql_driver.php
apps/system/database/drivers/mssql/mssql_forge.php
apps/system/database/drivers/mssql/mssql_result.php
apps/system/database/drivers/mssql/mssql_utility.php
apps/system/database/drivers/mysql/_notes/dwsync.xml
apps/system/database/drivers/mysql/index.html
apps/system/database/drivers/mysql/mysql_driver.php
apps/system/database/drivers/mysql/mysql_forge.php
apps/system/database/drivers/mysql/mysql_result.php
apps/system/database/drivers/mysql/mysql_utility.php
apps/system/database/drivers/mysqli/_notes/dwsync.xml
apps/system/database/drivers/mysqli/index.html
apps/system/database/drivers/mysqli/mysqli_driver.php
apps/system/database/drivers/mysqli/mysqli_forge.php
apps/system/database/drivers/mysqli/mysqli_result.php
apps/system/database/drivers/mysqli/mysqli_utility.php
apps/system/database/drivers/oci8/_notes/dwsync.xml
apps/system/database/drivers/oci8/index.html
apps/system/database/drivers/oci8/oci8_driver.php
apps/system/database/drivers/oci8/oci8_forge.php
apps/system/database/drivers/oci8/oci8_result.php
apps/system/database/drivers/oci8/oci8_utility.php
apps/system/database/drivers/odbc/_notes/dwsync.xml
apps/system/database/drivers/odbc/index.html
apps/system/database/drivers/odbc/odbc_driver.php
apps/system/database/drivers/odbc/odbc_forge.php
apps/system/database/drivers/odbc/odbc_result.php
apps/system/database/drivers/odbc/odbc_utility.php
apps/system/database/drivers/postgre/_notes/dwsync.xml
apps/system/database/drivers/postgre/index.html
apps/system/database/drivers/postgre/postgre_driver.php
apps/system/database/drivers/postgre/postgre_forge.php
apps/system/database/drivers/postgre/postgre_result.php
apps/system/database/drivers/postgre/postgre_utility.php
apps/system/database/drivers/sqlite/_notes/dwsync.xml
apps/system/database/drivers/sqlite/index.html
apps/system/database/drivers/sqlite/sqlite_driver.php
apps/system/database/drivers/sqlite/sqlite_forge.php
apps/system/database/drivers/sqlite/sqlite_result.php
apps/system/database/drivers/sqlite/sqlite_utility.php
apps/system/database/drivers/sqlsrv/_notes/dwsync.xml
apps/system/database/drivers/sqlsrv/index.html
apps/system/database/drivers/sqlsrv/sqlsrv_driver.php
apps/system/database/drivers/sqlsrv/sqlsrv_forge.php
apps/system/database/drivers/sqlsrv/sqlsrv_result.php
apps/system/database/drivers/sqlsrv/sqlsrv_utility.php
apps/system/database/index.html
apps/system/fonts/_notes/dwsync.xml
apps/system/fonts/index.html
apps/system/fonts/texb.ttf
apps/system/helpers/_notes/dwsync.xml
apps/system/helpers/array_helper.php
apps/system/helpers/captcha_helper.php
apps/system/helpers/cookie_helper.php
apps/system/helpers/date_helper.php
apps/system/helpers/directory_helper.php
apps/system/helpers/download_helper.php
apps/system/helpers/email_helper.php
apps/system/helpers/file_helper.php
apps/system/helpers/form_helper.php
apps/system/helpers/html_helper.php
apps/system/helpers/index.html
apps/system/helpers/inflector_helper.php
apps/system/helpers/language_helper.php
apps/system/helpers/number_helper.php
apps/system/helpers/path_helper.php
apps/system/helpers/security_helper.php
apps/system/helpers/smiley_helper.php
apps/system/helpers/string_helper.php
apps/system/helpers/text_helper.php
apps/system/helpers/typography_helper.php
apps/system/helpers/url_helper.php
apps/system/helpers/xml_helper.php
apps/system/index.html
apps/system/language/_notes/dwsync.xml
apps/system/language/english/_notes/dwsync.xml
apps/system/language/english/calendar_lang.php
apps/system/language/english/date_lang.php
apps/system/language/english/db_lang.php
apps/system/language/english/email_lang.php
apps/system/language/english/form_validation_lang.php
apps/system/language/english/ftp_lang.php
apps/system/language/english/imglib_lang.php
apps/system/language/english/index.html
apps/system/language/english/number_lang.php
apps/system/language/english/profiler_lang.php
apps/system/language/english/unit_test_lang.php
apps/system/language/english/upload_lang.php
apps/system/language/index.html
apps/system/libraries/Cache/Cache.php
apps/system/libraries/Cache/_notes/dwsync.xml
apps/system/libraries/Cache/drivers/Cache_apc.php
apps/system/libraries/Cache/drivers/Cache_dummy.php
apps/system/libraries/Cache/drivers/Cache_file.php
apps/system/libraries/Cache/drivers/Cache_memcached.php
apps/system/libraries/Cache/drivers/_notes/dwsync.xml
apps/system/libraries/Calendar.php
apps/system/libraries/Cart.php
apps/system/libraries/Driver.php
apps/system/libraries/Email.php
apps/system/libraries/Encrypt.php
apps/system/libraries/Form_validation.php
apps/system/libraries/Ftp.php
apps/system/libraries/Image_lib.php
apps/system/libraries/Javascript.php
apps/system/libraries/Log.php
apps/system/libraries/Pagination.php
apps/system/libraries/Parser.php
apps/system/libraries/Profiler.php
apps/system/libraries/Session.php
apps/system/libraries/Sha1.php
apps/system/libraries/Table.php
apps/system/libraries/Trackback.php
apps/system/libraries/Typography.php
apps/system/libraries/Unit_test.php
apps/system/libraries/Upload.php
apps/system/libraries/User_agent.php
apps/system/libraries/Xmlrpc.php
apps/system/libraries/Xmlrpcs.php
apps/system/libraries/Zip.php
apps/system/libraries/_notes/dwsync.xml
apps/system/libraries/index.html
apps/system/libraries/javascript/Jquery.php
apps/system/libraries/javascript/_notes/dwsync.xml
apps/_notes/dwsync.xml
apps/application/.htaccess
apps/application/_notes/dwsync.xml
apps/application/cache/.htaccess
apps/application/cache/_notes/dwsync.xml
apps/application/config/_notes/dwsync.xml
apps/application/controllers/_notes/dwsync.xml
apps/application/core/_notes/dwsync.xml
apps/application/errors/_notes/dwsync.xml
apps/application/helpers/_notes/dwsync.xml
apps/application/hooks/_notes/dwsync.xml
apps/application/language/english/_notes/dwsync.xml
apps/application/libraries/_notes/dwsync.xml
apps/application/logs/_notes/dwsync.xml
apps/application/models/_notes/dwsync.xml
apps/application/third_party/_notes/dwsync.xml
apps/application/views/_notes/dwsync.xml
apps/system/.htaccess
apps/system/_notes/dwsync.xml
apps/system/core/_notes/dwsync.xml
apps/system/database/_notes/dwsync.xml
apps/system/database/drivers/_notes/dwsync.xml
apps/system/database/drivers/mssql/_notes/dwsync.xml
apps/system/database/drivers/mysql/_notes/dwsync.xml
apps/system/database/drivers/mysqli/_notes/dwsync.xml
apps/system/database/drivers/oci8/_notes/dwsync.xml
apps/system/database/drivers/odbc/_notes/dwsync.xml
apps/system/database/drivers/postgre/_notes/dwsync.xml
apps/system/database/drivers/sqlite/_notes/dwsync.xml
apps/system/database/drivers/sqlsrv/_notes/dwsync.xml
apps/system/fonts/_notes/dwsync.xml
apps/system/helpers/_notes/dwsync.xml
apps/system/language/_notes/dwsync.xml
apps/system/language/english/_notes/dwsync.xml
apps/system/libraries/Cache/_notes/dwsync.xml
apps/system/libraries/Cache/drivers/_notes/dwsync.xml
apps/system/libraries/_notes/dwsync.xml
apps/system/libraries/javascript/_notes/dwsync.xml
development/applications/weekly_ad/views/welcome_message.php
apps/_notes/dwsync.xml
apps/application/.htaccess
apps/application/_notes/dwsync.xml
apps/application/cache/.htaccess
apps/application/cache/_notes/dwsync.xml
apps/application/config/_notes/dwsync.xml
apps/application/controllers/_notes/dwsync.xml
apps/application/core/_notes/dwsync.xml
apps/application/errors/_notes/dwsync.xml
apps/application/helpers/_notes/dwsync.xml
apps/application/hooks/_notes/dwsync.xml
apps/application/language/english/_notes/dwsync.xml
apps/application/libraries/_notes/dwsync.xml
apps/application/logs/_notes/dwsync.xml
apps/application/models/_notes/dwsync.xml
apps/application/third_party/_notes/dwsync.xml
apps/application/views/_notes/dwsync.xml
apps/system/.htaccess
apps/system/_notes/dwsync.xml
apps/system/core/_notes/dwsync.xml
apps/system/database/_notes/dwsync.xml
apps/system/database/drivers/_notes/dwsync.xml
apps/system/database/drivers/mssql/_notes/dwsync.xml
apps/system/database/drivers/mysql/_notes/dwsync.xml
apps/system/database/drivers/mysqli/_notes/dwsync.xml
apps/system/database/drivers/oci8/_notes/dwsync.xml
apps/system/database/drivers/odbc/_notes/dwsync.xml
apps/system/database/drivers/postgre/_notes/dwsync.xml
apps/system/database/drivers/sqlite/_notes/dwsync.xml
apps/system/database/drivers/sqlsrv/_notes/dwsync.xml
apps/system/fonts/_notes/dwsync.xml
apps/system/helpers/_notes/dwsync.xml
apps/system/language/_notes/dwsync.xml
apps/system/language/english/_notes/dwsync.xml
apps/system/libraries/Cache/_notes/dwsync.xml
apps/system/libraries/Cache/drivers/_notes/dwsync.xml
apps/system/libraries/_notes/dwsync.xml
apps/system/libraries/javascript/_notes/dwsync.xml
development/applications/weekly_ad/views/welcome_message.php
apps/_notes/dwsync.xml
apps/_notes/dwsync.xml
